*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: chocolate;
}

ul li a{
    text-decoration: none;
    float: left;
    background-color: coral;
    padding: 10px;
    font-size: 1.5em;
    color: rgb(251,206,177);
}

ul li{
    list-style-type: none;
}

ul{
    padding: 5px;
    display: flex;
}

#sticky_menu{
    position: sticky;
    top: 0px;
}

body{
    background-color: cornsilk;
}

h1{
    text-align: center;
}